body {
    background-color: #E71D36;
}
h1#header {
    text-align: center;
    font-size: 30px;
    color: #FDFFFC;
    font-family: Arial, Helvetica, sans-serif;
}
#cuisine {
    width: 60%;
    padding: 2px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}

.dropdown {
    text-align: center;
}

#submit {
    border-radius: 5px;
    color: #2EC4B6;
    background-color: #293241;
    font-family: 'Courier New', Courier, monospace;
}
.mealPicker{
    border-width: 1px;
    background-color: #2EC4B6;
    width: 33%;
    margin: 90px auto;
    padding: 10px 20px;
    border-radius: 28px;
}